@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: rgba(248, 249, 249, 1);
  --background-gray: rgba(244, 244, 244, 0.96);
  --footer-gray: #F5F5F5;
  --black: #1f2426;
  --white: #FFF;
  --gray: #8A8A8A;
}

html {
  
}
body {
  color: #111;
  font-size: 14px;
  font-family: 'Pretendard';
  background-color: var(--background);
}
.inner {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
.section {
  position: relative;
}
.hidden {
  overflow: hidden;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}

/* header */
.header {
  position: fixed;
  top: 30px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
}
.header .logo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.header .logo .logo-link {
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 700;
}
.header .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  padding: 8px 13px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  background-color: rgba(31, 36, 38, .8);
}
.header .link {
  display: block;
  padding: 0 10px;
  color: var(--white);
  font-size: 0.928rem;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 40px;
}
.header .link:hover {
  color: var(--black);
  background-color: var(--white);
}
.header .link.selected {
  color: var(--black);
  background-color: var(--white);
}

/* main */
.main {
  width: 100%;
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
}
.main .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main .title {
  text-align: center;
}
.main .title .text {
  display: block;
  font-size: 7.14rem;
  font-weight: 300;
  line-height: 1.12;
  letter-spacing: -0.25px;
  transform: translateY(100%);
  opacity: 0;
  animation: showText 0.8s cubic-bezier(0.56, 0.21, 0.16, 0.9) forwards;
}
.main .title .hidden:nth-child(2) .text {
  animation-delay: 0.3s;
}
.main .title .hidden:nth-child(3) .text {
  animation-delay: 0.6s;
}
.main .title .name {
  font-weight: 500;
}
.main .sub-text {
  margin-top: 65px;
  font-size: 1.6rem;
  letter-spacing: -1px;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  animation: showText 0.8s 1s forwards;
}

/* about */
.about {
  padding: 20vh 0;
}
.about .description {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}
.about .description .title {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  color: var(--black);
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
}
.about .description .title::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: var(--black);
}
.about .description .desc {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
}
.about .words {
  width: 100%;
  padding-left: 50%;
}
.about .words-item {
  display: inline;
  color: var(--gray);
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -1px;
  opacity: 0.1;
}
.about .words-item.on {
  color: var(--black);
  opacity: 1;
}

/* projects */
.projects {
  padding-bottom: 240px;
}
.projects .inner {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.projects .title {
  font-size: 5rem;
  font-weight: 700;
}
.projects .project-list {
  display: flex;
  flex-direction: column;
  gap: 20vh 0;
  margin-top: 10vh;
  padding: 0 10vw;
}
.projects .project {
  position: relative;
  max-width: 500px;
}
.projects .project:nth-child(even) {
  align-self: flex-end;
}
.projects .project-thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}
.projects .image-wrapper {
  aspect-ratio: 1.5 / 1;
  border-radius: 10px;
  overflow: hidden;
}
.projects .project:nth-child(5) .image-wrapper {
  background-color: var(--white);
}
.projects .project-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .thumbnail-title {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px 0; */
  padding: 20px;
  transition: 0.25s;
}
.projects .thumbnail-title .title {
  font-size: 1.4rem;
  font-weight: 700;
}
.projects .thumbnail-title .badge {
  display: inline-block;
  max-width: 22px;
  height: 22px;
  margin-top: 10px;
  line-height: 22px;
  padding: 0px 10px;
  border: 1px solid var(--black);
  border-radius: 50px;
  background-color: var(--white);
  animation: badge 2s ease-in forwards;
  overflow: hidden;
}
@keyframes badge {
  0% {
    max-width: 22px;
  }
  100% {
    max-width: 999px;
  }
}
.projects .thumbnail-title .badge .text {
  display: block;
  font-size: 0.857rem;
  opacity: 0;
  animation: badgeTextShow 0.3s 0.8s forwards;
}
@keyframes badgeTextShow {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* contact */
.contact {
  height: 100vh;
  padding: 30px;
}
.contact .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 80px 30px 30px;
  border-radius: 10px;
  background-color: var(--footer-gray);
}
.contact .title {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  color: var(--black);
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
}
.contact .title::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: var(--black);
}
.contact .mail {
  display: inline-block;
  align-self: flex-end;
  width: fit-content;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.857rem;
  transition: 0.25s;
}
.contact .mail:hover {
  color: rgba(0, 0, 0, 1);
}
.contact .footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .footer-wrap .copyright {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.14rem;
}
.contact .footer-menu {
  display: flex;
  align-items: center;
  gap: 0 24px;
}
.contact .footer-menu .link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.14rem;
  transition: 0.25s;
}
.contact .footer-menu .link:hover {
  color: rgba(0, 0, 0, 1);
}

@keyframes showText {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}